<div class="modal" >
    <div class="modal-content">

    <div class="top" style="height: 10%;">
        <p>SignUp</p>
        <span class="close">&times;</span>
    </div>
    <div class="mid" style="height: 20%; text-align: center;">
        <div class="withDis">
            <h5>Login With Discord</h5>
        </div>
        <div class="withGmail">
            <h5>Login With Gmail</h5>
        </div>
    </div>
    <form>
    
        <input type="text" placeholder="Username">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button  class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div> 
 
 

