<div class="container1">
    <div class="contain" style="padding: 20px; background-color: coral;">
        <div class="row1">
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
            <div class="frnt">
              <h3 style=" font-family: 'roboto'; color: #333;"><i class="fa fa-gift" aria-hidden="true"></i>
                Give-Aways</h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">All the giveaways like promo coupons, serial keys, product keys etc.</p>
            </div>
          </div>
      
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
            <div class="frnt">
              
              <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-journal"></i> Tutorials and Methods</h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">All the usefull tutorials, guides and methods, etc.</p>
            </div>
          </div>
      
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
            <div class="frnt">
             
              <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-book-fill"></i> Courses Link</h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">You can Post or Find all about the free courses in this section.</p>
            </div>
          </div>
        </div>
      
        <div class="row1">
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;" >
            <div class="frnt">
              
              <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-chat-fill"></i> Request</h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">Request anything to the community.</p>
            </div>
          </div>
      
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;" >
            <div class="frnt">
              
              <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-joystick"></i> Games</h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">In this tag, all games would be posted. </p>
            </div>
          </div>
      
          <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;" >
            <div class="frnt">
              
              <h3 style="font-family: 'Garamond', serif; color: #333;"><i class="bi bi-newspaper"></i> News </h3>
            </div>
            <div class="back" style="padding: 10px;">
              <p style="font-family: 'Arial', sans-serif; color: #555;">Here articles related to current affairs can be posted. </p>
            </div>
          </div>
        </div>
        <div class="row1">
            <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
              <div class="frnt">
               
                <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-key-fill"></i> Software</h3>
              </div>
              <div class="back" style="padding: 10px;">
                <p style="font-family: 'Arial', sans-serif; color: #555;">All softwares, plugins and themes can be posted here.</p>
              </div>
            </div>
        
            <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
              <div class="frnt">
                
                <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-feather"></i> Resources</h3>
              </div>
              <div class="back" style="padding: 10px;">
                <p style="font-family: 'Arial', sans-serif; color: #555;">Resources which do not fit in other tags</p>
              </div>
            </div>
        
            <div class="card" style="border: 1px solid #ccc; border-radius: 8px; overflow: hidden;  background-color: #ffffff;">
              <div class="frnt">
               
                <h3 style=" font-family: 'roboto'; color: #333;"><i class="bi bi-envelope-paper"></i> Forum Updates and Rules</h3>
              </div>
              <div class="back" style="padding: 10px;">
                <p style="font-family: 'Arial', sans-serif; color: #555;">To maintain the decorum of forum.</p>
              </div>
            </div>
          </div>
      </div>
</div>